
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/FarmerLayout.cshtml";
    ViewBag.Title = "Projects and Funding";
}

<div class="">
    <div class="scrollable-content">
        <div class="header text-start w-100 p-5">
            <h1 class="display-4 green-title">Projects<br>and Funding</h1>
        </div>

        <div class="container mt-4">
            <div class="row p-5">
                <!-- Repeat this block for each project -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card project-card">
                        <img src="~/Content/Images/Project1.png" class="card-img-top" alt="Project Image">
                        <div class="card-body">
                            <h5 class="card-title project-name">Project Name</h5>
                            <p class="card-text project-description">Lorem ipsum dolor sit amet, velit impedit tacimates duo ei, eam eu enim debet.</p>
                            <a href="#" class="btn btn-success">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- Repeat until here for each project -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card project-card">
                        <img src="~/Content/Images/Project1.png" class="card-img-top" alt="Project Image">
                        <div class="card-body">
                            <h5 class="card-title project-name">Project Name</h5>
                            <p class="card-text project-description">Lorem ipsum dolor sit amet, velit impedit tacimates duo ei, eam eu enim debet.</p>
                            <a href="#" class="btn btn-success">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- Repeat until here for each project -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card project-card">
                        <img src="~/Content/Images/Project1.png" class="card-img-top" alt="Project Image">
                        <div class="card-body">
                            <h5 class="card-title project-name">Project Name</h5>
                            <p class="card-text project-description">Lorem ipsum dolor sit amet, velit impedit tacimates duo ei, eam eu enim debet.</p>
                            <a href="#" class="btn btn-success">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


