@{
    Layout = "~/Views/Shared/FarmerLayout.cshtml";
    ViewBag.Title = "Sustainable Farming Hub";
}

<div class="">
    <div class="scrollable-content">
        <div class="header text-start w-100 p-5">
            <h1 class="display-4 green-title">Sustainable<br>Farming Hub</h1>
            <p class="lead">Empowering sustainable farming practices.</p>
        </div>

        <div class="container mt-4">
            <!-- Tab navigation -->
            <ul class="nav nav-tabs sticky-tabs tab-nav-background" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="true">
                        <i class="fas fa-seedling"></i> Resources
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="discussions-tab" data-toggle="tab" href="#discussions" role="tab" aria-controls="discussions" aria-selected="false">
                        <i class="fas fa-comments"></i> Discussions
                    </a>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content tab-content-background" id="myTabContent">
                <!-- Resources tab -->
                <div class="tab-pane fade show active" id="resources" role="tabpanel" aria-labelledby="resources-tab">
                    <div class="row p-5">
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <img src="/images/organic-farming.jpg" class="card-img-top" alt="Organic Farming">
                                <div class="card-body">
                                    <h5 class="card-title">Organic Farming Essentials</h5>
                                    <p class="card-text">Learn more about sustainable organic farming practices.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <img src="/images/water-conservation.jpg" class="card-img-top" alt="Water Conservation">
                                <div class="card-body">
                                    <h5 class="card-title">Water Conservation Techniques in Agriculture</h5>
                                    <p class="card-text">Effective methods to conserve water and reduce waste.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <img src="/images/solar-power.jpg" class="card-img-top" alt="Integrating Solar Power">
                                <div class="card-body">
                                    <h5 class="card-title">Integrating Solar Power Farms</h5>
                                    <p class="card-text">Incorporate solar energy into your farming practices.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <img src="/images/soil-health.jpg" class="card-img-top" alt="Sustainable Soil">
                                <div class="card-body">
                                    <h5 class="card-title">Sustainable Soil Health Management</h5>
                                    <p class="card-text">Strategies for maintaining healthy soil in long-term farming.</p>
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Discussions tab -->
                <div class="tab-pane fade" id="discussions" role="tabpanel" aria-labelledby="discussions-tab">
                    <div class="p-5 discussion-tab">
                        <h3>Join the discussions</h3>
                        <p>Engage with fellow farmers, share ideas, and ask questions.</p>
                        <!-- Add your discussions content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
