@{
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
    ViewBag.Title = "Sustainable Farming Hub";
}

<div class="w-100 h-100 background-image d-flex flex-column justify-content-center align-items-center">


    <div class="text-start w-100 p-5">
        <h1 class="display-4 green-title">Sustainable<br>Farming Hub</h1>
        <p class="lead">Empowering sustainable farming practices.</p>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="/images/organic-farming.jpg" class="card-img-top" alt="Organic Farming">
                    <div class="card-body">
                        <h5 class="card-title">Organic Farming Essentials</h5>
                        <p class="card-text">Learn more about sustainable organic farming practices.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="/images/water-conservation.jpg" class="card-img-top" alt="Water Conservation">
                    <div class="card-body">
                        <h5 class="card-title">Water Conservation Techniques in Agriculture</h5>
                        <p class="card-text">Effective methods to conserve water and reduce waste.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="/images/solar-power.jpg" class="card-img-top" alt="Integrating Solar Power">
                    <div class="card-body">
                        <h5 class="card-title">Integrating Solar Power Farms</h5>
                        <p class="card-text">Incorporate solar energy into your farming practices.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="/images/soil-health.jpg" class="card-img-top" alt="Sustainable Soil">
                    <div class="card-body">
                        <h5 class="card-title">Sustainable Soil Health Management</h5>
                        <p class="card-text">Strategies for maintaining healthy soil in long-term farming.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>