@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sustainable Farming Hub";
}

<div class="jumbotron jumbotron-fluid text-center" style="background-image: url('/images/farming-background.jpg'); background-size: cover; color: white;">
    <div class="container">
        <h1 class="display-4">Sustainable Farming Hub</h1>
        <p class="lead">Empowering sustainable farming practices.</p>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="/images/organic-farming.jpg" class="card-img-top" alt="Organic Farming">
                <div class="card-body">
                    <h5 class="card-title">Organic Farming Essentials</h5>
                    <p class="card-text">Learn more about sustainable organic farming practices.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="/images/water-conservation.jpg" class="card-img-top" alt="Water Conservation">
                <div class="card-body">
                    <h5 class="card-title">Water Conservation Techniques in Agriculture</h5>
                    <p class="card-text">Effective methods to conserve water and reduce waste.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="/images/solar-power.jpg" class="card-img-top" alt="Integrating Solar Power">
                <div class="card-body">
                    <h5 class="card-title">Integrating Solar Power Farms</h5>
                    <p class="card-text">Incorporate solar energy into your farming practices.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="/images/soil-health.jpg" class="card-img-top" alt="Sustainable Soil">
                <div class="card-body">
                    <h5 class="card-title">Sustainable Soil Health Management</h5>
                    <p class="card-text">Strategies for maintaining healthy soil in long-term farming.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
