/* Set padding to keep content from hitting the edges */
::-webkit-scrollbar {
    display: none;
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.background-image {
    background-image: url('Images/pexels-reto-burkler-640438-1443867.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Inter';
    src: url(Fonts/Inter-ExtraBold.ttf) format('truetype');
    font-weight: 800; /* ExtraBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

body {
    font-family: 'Inter';
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f0f0f0; 
}

main {
    flex-grow: 1;
}

footer {
    background-color: rgba(255, 255, 255, 0.8); /* Optional: to make it stand out on the background */
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.btn-background {
    background-color: #51701A;
    color: white;
}


#sub-title {
    color: #304C30;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#login-title {
    color: #304C30;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2em;
}

#title {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
}

.green-title {
    color: #304C30;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
}

html, body {
    height: 100%;
    margin: 0;
}

.container.body-content {
    flex: 1;
}

.nav-link {
    color: #FFFFFF; /* Default color for unselected items */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for color change */
    font-size: 1.5em;
    font-weight: 700;
}

.nav-link:hover {
    color: #c6c6c6; /* Color when hovering */
}

.form-group {
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}


.scrollable-content {
    overflow-y: auto;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}


.tab-nav-background,
.footer-background {
    background-color: #0F2D12 !important;
}

.tab-content-background {
    background-color: #F2F2F2 !important;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 -3px 0 #3FC675;
}

.nav-tabs .nav-link {
    color: #c3c3c3;
    border: 0px !important;
}

.nav-tabs .nav-link:hover {
    transform: none;
}

.discussion-tab {
    color: #0F2D12;
}

.discussion-tab h3 {
    font-weight: 700;
}

.profile-label {
    color: #0F2D12 !important;
    text-shadow: none;
}

.product-label {
    color: #777 !important;
    text-shadow: none;
}

.product-price-label {
    font-size: 1.25em;
    color: #0F2D12 !important;
}

.font-weight-bold {
    font-weight: bold;
}

.filter-icons .filter-item {
    display: flex;
    align-items: center;
    color: #28a745;
}

.filter-icons .filter-item i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.product-card {
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    height: 100%;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .card-img-top {
        height: 200px;
        width: 100%;
        object-fit: contain;
        margin: 0; /* Remove any default margin */
        padding: 0; /* Remove any default padding */
        border-radius: 0; /* Ensure images have no border radius */
}

.product-card .card-body {
    text-align: center;
    flex: 1;
}

.product-card .btn {
    width: 100%;
}

.search-bar {
    width: 40%;
}

.learn-more-btn {
    border: none !important; /* Remove default border */
    padding: 10px 20px !important; /* Padding for the button */
    cursor: pointer !important; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s !important; /* Smooth transition for background and text color */
}

.learn-more-btn:hover {
    background-color: #51701A;
}

learn-more-btn:active {
    background-color: #51701A;
}



/* Optionally, handle focus state to match the design */
learn-more-btn:focus {
    outline: none !important; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5) !important; /* Custom focus outline */
}

.edit-product-btn {
    margin-right: 5px;
}

.field-validation-error, .validation-summary-errors.text-danger {
    font-size: 1rem;
    color: #dc3545 !important;
    font-weight: 400;
    text-shadow: none;
}

.project-card {
    border-radius: 10px;
    overflow: hidden;
}

.project-name {
    color: #304C30; /* Green title color */
    font-weight: 700;
}

.project-description {
    color: #6c757d; /* Text color */
}


.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}
