@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    
}

<main class="w-100 h-100 d-flex flex-column justify-content-center background-image">
    <div class="text-center d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <h5 id="sub-title">Agri-Energy Connect</h5>
        <h1 id="title">A Sustainable <br>Digital Ecosystem</h1>
    </div>

    <div class="d-flex flex-column align-items-center flex-grow-1">
        <a class="btn btn-background" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more</a>
    </div>
</main>